.selectize-input {
  background: none !important;
  border-color: var(--bs-border-color-translucent) !important;
}

.selectize-control.multi .selectize-input > div {
  background: var(--bs-border-color-translucent) !important;
  color: var(--bs-white) !important;
}

.category-select-btn {
  width: 75%;
}
